@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins&display=swap');

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* .container{
    height: 100%;
    width: 100%;
} */

a{
    text-decoration: none;
    color: #ffb41f;
}

header{
    float: left;
    height: 60px;
    width: 100%;
    background-color: #3f38a3;
    position: fixed;
    z-index: 10;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 10px;
}

.header-right a{
    color:white;
    display: inline-block;
    text-align: center;
    padding: 18px 20px;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.logo{
    height: 60px;
    padding-left: 10px;
    padding-bottom: 0;
}

main{
    float: left;
    margin-top: 30px;
    /* width: 100%; */
    background-color:#e8eff7 ;
}

.top-wrapper{
    color:#e8eff7 ;
    height: 450px;
    padding: 20px;
    background-image: url(../images/background-top.png);
    background-size:cover;
    /* width: 100%; */
}

.top-left{
    width: 50%;
    float: left;
    margin: 30px;
    font-size: 25px;
    letter-spacing: 0.03em;
}

.top-left h4{
    color: black;
}

.search{
    display: flex;
    margin-top: 50px;
}

#search-box{
    width: 60%;
    border: 3px solid #3f38a3;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
}

#search-button {
    width: 40px;
    border: 1px solid #3f38a3;
    background: #3f38a3;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#search-button:active{
    background-color: rgba(77, 70, 177, 0.911);
}

.mid-wrapper{
    /* width: 100%; */
    height: 250px;
    text-align: center;
    padding: 10px 10px 30px 10px;
    background-color: #3f38a3;
    color: #ffb41f;
}

.mid-wrapper h3{
    font-size: 30px;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.mid-wrapper h3::before{
    width: 50%;
}

.mid-wrapper p{
    font-size: larger;
    padding: 0px 10px;
    color: #e8eff7;
}

.mid-left, .mid-mid, .mid-right{
    float: left;
    width: 30%;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    border: 8px solid #4acdee;
}

.title-workout{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.contents-wrap{
    padding: 30px;
}

.contents-wrap img{
    /* position: relative; */
    width: 75%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.wrap-image{
    position: relative;
}

.img-overlay{
    position: absolute;
    top: 0;
    left:12.5%;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 75%;
    transition: opacity 0.4s ease-in-out;
    background-color: rgba(63, 56, 163, 0.8);
    cursor: pointer;
}

.title{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffb41f;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.wrap-image:hover .img-overlay{
    opacity: 1;
}

/* .wrap-image img{
    position: relative;
    width: 30%;
    float: left;
    margin: 20px;
} */

/* .footer-wrap{
    background-color:#7a10ff;
} */

footer{
    background-color: black;
    height: max-content;
}

footer i{
    color: white;
    margin: 0px 15px;
    margin-top: 30px;
}

.icon{
    text-align: center;
    margin-bottom: 20px;
}

.footer-menu{
    text-align: center;
}

.footer-menu ul{
    display: inline-table;
}

footer li{
    float: left;
    margin-right: 30px;
    display: inline;
}

.caption-footer{
    text-align: center;
    color: black;
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e8eff7;
}

.caption-footer h3,p{
    margin: 0;
    padding: 0;
}