@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container{
    height: 100%;
}

a{
    text-decoration: none;
    color: #ffb41f;
}

header{
    float: left;
    height: 60px;
    width: 100%;
    background-color: #3f38a3;
    position: fixed;
    z-index: 10;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 10px;
}

.header-right a{
    color:white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.logo{
    height: 60px;
    padding-left: 10px;
    padding-bottom: 0;
}

main{
    float: left;
    margin-top: 30px;
    width: 100%;
    background-color:#e8eff7 ;
}

.top-wrapper{
    color:#e8eff7 ;
    height: 450px;
    padding: 20px;
    /* background-color: #05d2dd; */
    background-image: url(images/background-top.png);
    background-size:cover;
}

.top-left{
    width: 50%;
    float: left;
    margin: 30px;
    font-size: 25px;
    letter-spacing: 0.03em;
}

.top-left h4{
    color: black;
}

.search{
    display: flex;
    margin-top: 50px;
}

#search-box{
    width: 60%;
    border: 3px solid #3f38a3;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
}

#search-button {
    width: 40px;
    border: 1px solid #3f38a3;
    background: #3f38a3;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#search-button:active{
    background-color: rgba(77, 70, 177, 0.911);
}

.mid-wrapper{
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 10px;
}

.mid-wrapper h3{
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration- ;
    text-underline-offset: 20px;
    /* border-bottom: 2px solid black; */
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.mid-wrapper h3::before{
    width: 50%;
}

.mid-wrapper p{
    font-size: larger;
}

.mid-left, .mid-mid, .mid-right{
    float: left;
    width: 30%;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    border: 8px solid #3f38a3;
}

.img-content{
    width: 300px;
}

.contents-wrap{
    padding: 30px;
}

.contents-left{
    width: 60%;
}

.contents-left p{
    margin-left: 25px;
}