@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container{
    height: 100%;
}

a{
    text-decoration: none;
    color: #ffb41f;
}

header{
    float: left;
    height: 60px;
    width: 100%;
    background-color: #3f38a3;
    /* position: fixed;
    z-index: 10; */
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 10px;
}

.header-right a{
    color:white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.logo{
    height: 60px;
    padding-left: 10px;
    padding-bottom: 0;
}

main{
    float: left;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:#e8eff7 ;
}

.top-wrapper{
    color:#e8eff7 ;
    height: 300px;
    padding: 20px;
    background-color: #05d2dd;
}

.top-left{
    width: 50%;
    float: left;
    margin-left: 10px;
    font-size: 25px;
    letter-spacing: 0.03em;
}

.top-left h2{
    color: black;
}

.top-right{
    margin: 20px 15px 15px 40px;
    float: left;
}

.top-right h3{
    color: black;
    font-size: 30px;
}

.search{
    display: flex;
}

#search-box{
    width: 60%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    color: #9DBFAF;
    margin-left:50px;

}

#search-button {
    width: 40px;
    /* height: 48px; */
    border: 1px solid #00B4CC;
    background: #3f38a3;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
