@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins&display=swap');

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}


a{
    text-decoration: none;
    color: #ffb41f;
}

header{
    float: left;
    height: 60px;
    width: 100%;
    background-color: #3f38a3;
    position: fixed;
    z-index: 10;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 10px;
}

.header-right a{
    color:white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.logo{
    height: 60px;
    padding-left: 10px;
    padding-bottom: 0;
}

/* Main */
section#workout-sec{
    padding: 100px 20px 0px 20px;
}

h1.title{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 1000;
    margin-top: 0px;
    text-align: center;
}

.top-wrap{
    width:100%;
    height:500px;
    margin-bottom: 20px;
    background-color:#3f38a3;
}

.detail-content h2{
    font-size: 50px;
    border-bottom: 4px solid white;
    display: inline-block;
    color: #ffb41f;
    font-weight: 900;
    text-shadow: -1px 0 #ffb41f, 0 1px #ffb41f, 1px 0 #ffb41f, 0 -1px #ffb41f;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.detail-content h3{
    color: #51e1e9;
}

.detail-content h3 span{
    color:#e8eff7;
}

div.left-content{
    float: left;
    width: 60%;
}

.left-content iframe{
    width: 100%;
    height: 500px;
}

div.right-content{
    color:white;
    float:right;
    width: 35%;
    padding-top: 20px;
    margin-left: 5px;
}

.right-content td{
    width:5%;
}

div.bottom-content{
    clear: both;
    /* border-top: 5px solid black;
    border-bottom: 5px solid black; */
}

.details-wrap{
    margin: 20px 0px;
    overflow: hidden;
}

.detail{
    background-color: #3f38a3;
    width: 22%;
    display: inline-block;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.detail:hover>h3{
    display: none;
    transition:all 5s;
}

.detail:hover .detail-overlay{
    background-color: aqua;
    color: black;
    display: block;
}

.detail-overlay{
    display: none;
    border-radius: 19px;
    padding: 0.1px;
    transition:all 5s;
}

.step, .desc{
    float : left;
}

.step li{
    font-size: larger;
}

.desc{
    margin-top: 30px;
}

.desc p{
    font-size: larger;
    text-align: justify;
    margin-top: 20px;
    margin-right: 30px;
}

.alat{
    margin-top: 30px;
}

footer{
    clear: both;
    background-color: black;
    height: max-content;
}

footer i{
    color: white;
    margin: 0px 15px;
    margin-top: 30px;
}

.icon{
    text-align: center;
    margin-bottom: 20px;
}

.footer-menu{
    text-align: center;
}

.footer-menu ul{
    display: inline-table;
}

footer li{
    float: left;
    margin-right: 30px;
    display: inline;
}

.caption-footer{
    text-align: center;
    color: black;
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e8eff7;
}

.caption-footer h3,p{
    margin: 0;
    padding: 0;
}