@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins&display=swap');

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* .container{
    height: 100%;
    width: 100%;
} */

a{
    text-decoration: none;
    color: #ffb41f;
}

header{
    float: left;
    height: 60px;
    width: 100%;
    background-color: #3f38a3;
    position: fixed;
    z-index: 10;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 10px;
}

.header-right a{
    color:white;
    display: inline-block;
    text-align: center;
    padding: 18px 20px;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.logo{
    height: 60px;
    padding-left: 10px;
    padding-bottom: 0;
}

main{
    float: left;
    margin-top: 30px;
    background-color:#e8eff7 ;
}



.title-workout{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: black;
    margin-bottom: 0px;
}

.contents-wrap{
    padding: 30px;
}

.contents-wrap h4{
    margin-top: 0px;
    text-align: center;
}

.contents-wrap img{
    /* position: relative; */
    width: 75%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.wrap-image{
    position: relative;
}

.img-overlay{
    position: absolute;
    top: 0;
    left:12.5%;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 75%;
    transition: opacity 0.4s ease-in-out;
    background-color: rgba(63, 56, 163, 0.8);
    cursor: pointer;
}

.title{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffb41f;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.wrap-image:hover .img-overlay{
    opacity: 1;
}

footer{
    background-color: black;
    height: max-content;
}

footer i{
    color: white;
    margin: 0px 15px;
    margin-top: 30px;
}

.icon{
    text-align: center;
    margin-bottom: 20px;
}

.footer-menu{
    text-align: center;
}

.footer-menu ul{
    display: inline-table;
}

footer li{
    float: left;
    margin-right: 30px;
    display: inline;
}

.caption-footer{
    text-align: center;
    color: black;
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e8eff7;
}

.caption-footer h3,p{
    margin: 0;
    padding: 0;
}